
      #div{
          border: 2px solid;
          height: 550px; 
          width:800px; 
          background-color: rgb(64, 64, 197);
          margin-left: 200px;
          margin-top: 50px;
      }
      
      h1{
          position: relative;
          left: 240px;

      }
      table{
        position: relative;
        bottom: 140px;
        left: 50px;
         height: 400px; 
        width:700px; 
        background-color: white;
      }
  